<div *ngIf="postulantes.length === 0; else table" class="alert alert-warning text-center">
    No hay postulantes que mostrar
</div>

<ng-template #table>

    <table class="table table-hover">
        <thead>
            <tr>
                <th>#</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Ciudad</th>
                <th>Acciones</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let postulante of postulantes">
                <td>{{ postulante.id }}</td>
                <td>{{ postulante.nombres }}</td>
                <td>{{ postulante.apellidos }}</td>
                <td>{{ postulante.ciudad }}</td>
                <td>
                    <a href="{{ postulante.enlaceBizneo }}" target="_blank">
                        <i class="bi bi-browser-chrome text-primary" title="Ir a Bizneo"></i>
                    </a>
                    &nbsp;
                    <a [routerLink]="[ '/postulantes/detalle', postulante.id ]">
                        <i class="bi bi-info-square text-warning" title="Detalle"></i>
                    </a>
                    &nbsp;
                    <a [routerLink]="[ '/postulantes/editar', postulante.id ]">
                        <i class="bi bi-pencil-square text-success" title="Editar"></i>
                    </a>
                    &nbsp;
                    <a [routerLink]="['#']" (click)="onDeletePostulante(postulante.id)">
                        <i class="bi bi-trash-fill text-danger" title="Eliminar"></i>
                    </a>
                </td>
            </tr>
        </tbody>
    </table>

</ng-template>