
    <h2>Postulantes</h2>
    <!-- 
    <pre>{{ user() | json }}</pre>
    -->
    <hr>
    
    <div class="row">
      <div class="col">
          <!-- SearchBox -->
          <app-busqueda 
            (onValue)="buscarPorNombre($event)" 
            placeholder="Buscar por nombre y apellido"></app-busqueda>
      </div>
    </div>
    
    <div class="row">
      <div class="col">
        <hr>
          <button [routerLink]="['/postulantes/crear']" class="btn btn-success float-end">
            Crear postulante
          </button>
        <app-tabla-postulantes [postulantes]="postulantes"></app-tabla-postulantes>
      </div>
    </div>

