<ng-template #loading>
    <div class="alert alert-info text-center">
        Espere por favor
    </div>
</ng-template>

<div *ngIf="postulante; else loading">
    <div class="row">
        <div class="col-12">
            <h2>Postulante - Detalle</h2>
            <hr>
        </div>
    </div>

    <div class="row">
        <div class="col-6">
            <div class="row">
                <div class="col">
                    <h3>Información</h3>
                    <ul class="list-group">
                        <li class="list-group-item">
                            <strong>Nombre: </strong> {{ postulante.nombres }} {{ postulante.apellidos }}
                        </li>
                        <li class="list-group-item">
                            <strong>Ciudad: </strong> {{ postulante.ciudad }}
                        </li>
                        <li class="list-group-item">
                            <strong>Enlace Bizneo: </strong> {{ postulante.enlaceBizneo }}
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row mt-4">
                <div class="col text-center">
                    <button 
                        type="button" 
                        class="btn btn-success"
                        [routerLink]="['/procesos/crear', postulante.id]"
                        >
                        Crear proceso
                    </button>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="row">
                <div class="col">
                    <h3>Procesos</h3>
                    <div *ngIf="procesos?.length === 0" class="alert alert-warning text-center">
                        El postulante no tiene procesos registrados
                    </div>
                    <div *ngFor="let proceso of procesos" class="card mt-2">
                        <div class="card-header">
                          {{ proceso.celula.nombre }}
                        </div>
                        <div class="card-body">
                          <h5 class="card-title">{{ proceso.rol.detalle }}</h5>
                          <p class="card-text">Fecha creación: {{ proceso.fecha_ingreso | date: 'MMM d, y, h:mm:ss a' }}</p>
                          <a 
                            class="btn btn-primary"
                            [routerLink]="['/entrevistas/crear', proceso.id]">
                            Ir a entrevista</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>

<div class="row mt-4 text-center">
    <div class="col">
        <button 
            type="button"
            class="btn btn-warning" 
            [routerLink]="['/postulantes/listado']">
            Volver
        </button>
    </div>
</div>