<ng-template #loading>
    <div class="alert alert-info text-center">
        Espere por favor
    </div>
</ng-template>

<div *ngIf="postulante; else loading">
    <div class="row">
        <div class="col-12">
            <h2>Postulante: <strong>{{ postulante.nombres }} {{ postulante.apellidos }}</strong></h2>
            <hr>
        </div>
    </div>

    <div class="row">
        <div class="col-4">
            <h3>Imagen</h3>
            <img src="assets/images/avatar.jpeg" [alt]="postulante.nombres" class="img-thumbnail">
        </div>
        <div class="col-8">
            <div class="row">
                <div class="col">
                    <h3>Información</h3>
                    <ul class="list-group">
                        <li class="list-group-item">
                            <strong>Ciudad: </strong> {{ postulante.ciudad }}
                        </li>
                        <li class="list-group-item">
                            <strong>Enlace Bizneo: </strong> {{ postulante.enlaceBizneo }}
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col">
                    <h3>Procesos</h3>

                </div>
            </div>

        </div>
    </div>

</div>

<div class="row mt-2 text-center">
    <div class="col">
        <button class="btn btn-warning" [routerLink]="['/postulantes/listado']">
            Volver
        </button>
    </div>
</div>