<div class="container mt-5 py-4 px-5">

<h2 class="main-title">Preguntas</h2>

<div class="row justify-content-end mb-3">
  <div class="col-auto">
    <button [routerLink]="['/preguntas/crear']" class="btn btn-success">
      Crear pregunta
      <i class="fas fa-plus"></i>
    </button>
  </div>
</div>

<!-- Tabla -->
<div>
  <table mat-table [dataSource]="dataSource" matSort>
    <!-- ID Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
      <td mat-cell *matCellDef="let pregunta">{{ pregunta.id }}</td>
    </ng-container>

    <!-- Detalle Column -->
    <ng-container matColumnDef="detalle">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Pregunta</th>
      <td mat-cell *matCellDef="let pregunta">{{ pregunta.detalle }}</td>
    </ng-container>

    <!-- Estado Column -->
    <ng-container matColumnDef="activo">
      <th mat-header-cell *matHeaderCellDef>Estado</th>
      <td mat-cell *matCellDef="let pregunta">
        <ng-container *ngIf="pregunta.activo === 1; else inactivo">
          Activo
        </ng-container>
        <ng-template #inactivo> Inactivo </ng-template>
      </td>
    </ng-container>

    <!-- Detalle de Rol Column -->
    <ng-container matColumnDef="detalleRol">
      <th mat-header-cell *matHeaderCellDef>Detalle de Rol</th>
      <td mat-cell *matCellDef="let pregunta">{{ pregunta.rol.detalle }}</td>
    </ng-container>

    <!-- Acciones Column -->
    <ng-container matColumnDef="acciones">
      <th mat-header-cell *matHeaderCellDef>Acciones</th>
      <td mat-cell *matCellDef="let pregunta">
        <a [routerLink]="['/preguntas/editar', pregunta.id]">
          <i class="fas fa-edit" title="Editar"></i>
        </a>
        &nbsp;
        <a (click)="eliminarPregunta(pregunta.id)">
          <i class="fas fa-trash text-danger" title="Eliminar"></i>
        </a>
        &nbsp;
      </td>
    </ng-container>

    <!-- Definición de las filas de la tabla -->
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>

  <!-- Paginador -->
  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>
</div>