<div class="container mt-5 py-4 px-5">
    <h2>Clientes - Crear Cliente</h2>
  
    <div class="row">
      <div class="col">
        <form [formGroup]="myForm" (ngSubmit)="onSave()" autocomplete="off">
          <!-- Campo de nombre -->
          <div class="mb-3 row">
            <label class="col-sm-3 col-form-label">Nombre Cliente</label>
            <div class="col-sm-9">
              <input
                type="text"
                class="form-control"
                formControlName="nombre"
                placeholder="Nombre Cliente"
              />
              <span *ngIf="isValidField('nombre')" class="form-text text-danger">
                {{ getFieldError("nombre") }}
              </span>
            </div>
          </div>
  
          <!-- Campo de Casa Matriz -->
          <div class="mb-3 row">
            <label class="col-sm-3 col-form-label">Casa Matriz</label>
            <div class="col-sm-9">
              <input
                type="text"
                class="form-control"
                formControlName="casaMatriz"
                placeholder="Casa Matriz"
              />
              <span
                *ngIf="isValidField('casaMatriz')"
                class="form-text text-danger"
              >
                {{ getFieldError("casaMatriz") }}
              </span>
            </div>
          </div>
  
          <!-- Campo de botones -->
          <div class="row">
            <div class="col">
              <button
                type="button"
                class="btn btn-warning"
                [routerLink]="['/cliente/listado']"
              >
                Volver
              </button>
              <button type="submit" class="btn btn-primary float-end">
                Guardar
                <i class="fas fa-save"></i>
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  