<h2 class="main-title">Procesos - Crear proceso</h2>

<div class="row">
    <div class="col">

        <form [formGroup]="formProceso" (ngSubmit)="onSave()" autocomplete="off">

            <!-- Nombre y apellido del postulante -->
            <div class="mb-3 row">
                <label class="col-sm-3 col-form-label">Postulante</label>
                <div class="col-sm-9 col-form-label">
                    {{ postulante?.nombres }} {{ postulante?.apellidos }}
                </div>
            </div>

            <!-- Campo de cliente -->
            <div class="mb-3 row">
                <label class="col-sm-3 col-form-label">Cliente</label>
                <div class="col-sm-9">
                    <select name="cliente" id="cliente" formControlName="idCliente" class="form-control">
                        <option value="">Selecciona un cliente</option>
                        <option *ngFor="let cliente of clientes" [value]="cliente.id">{{ cliente.nombre }}</option>
                    </select>
                    <span *ngIf="isValidField('idCliente')"
                        class="form-text text-danger">
                        {{ getFieldError('idCliente') }}
                    </span>
                </div>
            </div>

            <!-- Campo de célula -->
            <div class="mb-3 row">
                <label class="col-sm-3 col-form-label">Célula</label>
                <div class="col-sm-9">
                    <select name="celula" id="celula" formControlName="idCelula" class="form-control">
                        <option value="">Selecciona una célula</option>
                        <option *ngFor="let celula of celulas" [value]="celula.id">{{ celula.nombre }}</option>
                    </select>
                    <span *ngIf="isValidField('idCelula')"
                           class="form-text text-danger">
                           {{ getFieldError('idCelula') }}
                    </span>
                </div>
            </div>

            <!-- Campo de rol -->
            <div class="mb-3 row">
                <label class="col-sm-3 col-form-label">Rol</label>
                <div class="col-sm-9">
                    <select name="rol" id="rol" formControlName="idRol" class="form-control">
                        <option value="">Selecciona un rol</option>
                        <option *ngFor="let rol of roles" [value]="rol.id">{{ rol.detalle }}</option>
                    </select>
                    <span *ngIf="isValidField('idRol')"
                        class="form-text text-danger">
                        {{ getFieldError('idRol') }}
                    </span>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <button
                        type="button"
                        class="btn btn-warning"
                        [routerLink]="['/postulantes/detalle',postulante?.id]">
                        Volver
                    </button>
                    <button type="submit"
                            class="btn btn-primary float-end">
                        Guardar
                        <i class="fas fa-save"></i>
                    </button>
                </div>
            </div>

        </form>
    </div>
</div>
