<div class="container mt-5 py-4 px-5">
    <h2>Procesos - {{ accion | titlecase }} entrevista</h2>
<div class="row">
    <div class="col">

        <form [formGroup]="formEntrevista" (ngSubmit)="onSave()" autocomplete="off">

            <!-- Campo de ID Proceso -->
            <div class="mb-3 row">
                <label class="col-sm-3 col-form-label">ID Proceso</label>
                <div class="col-sm-9">
                    <input type="text"
                           class="form-control"
                           formControlName="idProceso"
                           placeholder=""
                           readonly>
                    <span *ngIf="isValidField('idProceso')"
                        class="form-text text-danger">
                        {{ getFieldError('idProceso') }}
                    </span>
                </div>
            </div>

            <!-- Campo de fecha -->
            <div class="mb-3 row">
                <label class="col-sm-3 col-form-label">Fecha entrevista</label>
                <div class="col-sm-9">

                    <input type="datetime-local"
                           class="form-control"
                           formControlName="fecha_entrevista"
                           placeholder="">

                    <span *ngIf="isValidField('fecha_entrevista')"
                        class="form-text text-danger">
                        {{ getFieldError('fecha_entrevista') }}
                    </span>
                </div>
            </div>

            <!-- Campo de perfil buscado -->
            <div class="mb-3 row">
                <label class="col-sm-3 col-form-label">Perfil buscado</label>
                <div class="col-sm-9">
                    <!-- <input type="text"
                           class="form-control"
                           formControlName="perfilBuscado"
                           placeholder="">-->
                    <textarea name="pefilBuscado"
                        id="perfilBuscado"
                        class="form-control"
                        formControlName="perfilBuscado"></textarea>
                    <span *ngIf="isValidField('perfilBuscado')"
                        class="form-text text-danger">
                        {{ getFieldError('perfilBuscado') }}
                    </span>
                </div>
            </div>

            <!-- Campo de comentarios de la prueba 
            <div class="mb-3 row">
                <label class="col-sm-3 col-form-label">Comentarios prueba</label>
                <div class="col-sm-9">
                    <textarea name="comentariosPrueba"
                        id="comentariosPrueba"
                        class="form-control"
                        formControlName="comentariosPrueba"></textarea>
                    <span *ngIf="isValidField('comentariosPrueba')"
                           class="form-text text-danger">
                           {{ getFieldError('comentariosPrueba') }}
                    </span>
                </div>
            </div>-->

            <!-- Campo de comentarios generales -->
            <div class="mb-3 row">
                <label class="col-sm-3 col-form-label">Comentarios generales</label>
                <div class="col-sm-9">
                    <textarea name="comentariosGenerales"
                        id="comentariosGenerales"
                        class="form-control"
                        formControlName="comentariosGenerales"></textarea>
                    <span *ngIf="isValidField('comentariosGenerales')"
                        class="form-text text-danger">
                        {{ getFieldError('comentariosGenerales') }}
                    </span>
                </div>
            </div>

            <!-- Campo de recomendaciones -->
            <div class="mb-3 row">
                <label class="col-sm-3 col-form-label">Recomendaciones</label>
                <div class="col-sm-9">
                    <textarea name="recomendaciones"
                        id="recomendaciones"
                        class="form-control"
                        formControlName="recomendaciones"></textarea>
                    <span *ngIf="isValidField('recomendaciones')"
                        class="form-text text-danger">
                        {{ getFieldError('recomendaciones') }}
                    </span>
                </div>
            </div>

            <!-- Campo de descripción personal -->
            <div class="mb-3 row">
                <label class="col-sm-3 col-form-label">Descripción personal</label>
                <div class="col-sm-9">
                  <div class="input-group">
                    <textarea name="descripcionPersonal"
                              id="descripcionPersonal"
                              class="form-control"
                              formControlName="descripcionPersonal"></textarea>
                    <button type="button" 
                            (click)="toggleListening('descripcionPersonal')" 
                            [ngClass]="isListening['descripcionPersonal'] ? 'btn-outline-danger' : 'btn-outline-primary'"
                            class="btn">
                      {{ isListening['descripcionPersonal'] ? 'Detener' : 'Iniciar' }}
                    </button>
                  </div>
                  <span *ngIf="isValidField('descripcionPersonal')" class="form-text text-danger">
                    {{ getFieldError('descripcionPersonal') }}
                  </span>
                </div>
              </div>                              

            <!-- Campo de preguntas del candidato -->
            <div class="mb-3 row">
                <label class="col-sm-3 col-form-label">Preguntas del candidato</label>
                <div class="col-sm-9">
                    <textarea name="preguntasCandidato"
                        id="preguntasCandidato"
                        class="form-control"
                        formControlName="preguntasCandidato"></textarea>
                    <span *ngIf="isValidField('preguntasCandidato')"
                        class="form-text text-danger">
                        {{ getFieldError('preguntasCandidato') }}
                    </span>
                </div>
            </div>

            <div class="row mt-4">
                <div class="col-12">
                    <h4>Preguntas de la entrevista</h4>
                    <hr>
                </div>
            </div>

            <!-- Pregunta 1 -->
            <div class="mb-3 row">
                <label class="col-sm-3 col-form-label">Pregunta 1</label>
                <div class="col-sm-9">
                    <div class="input-group">
                        <input type="text"
                            formControlName="tp1" 
                            class="form-control">
                        <input type="hidden"
                            formControlName="ip1">
                    </div>
                    <span *ngIf="isValidField('tp1')" 
                        class="form-text text-danger">
                        {{ getFieldError('tp1') }}
                    </span>
                </div>
            </div>

            <div class="mb-3 row">
                <label class="col-sm-3 col-form-label">Respuesta 1</label>
                <div class="col-sm-9">
                  <div class="input-group">
                    <textarea formControlName="tr1" class="form-control"></textarea>
                    <button type="button" 
                    (click)="toggleListening('tr1')" 
                    [ngClass]="isListening['tr1'] ? 'btn-outline-danger' : 'btn-outline-primary'"
                    class="btn">
                      {{ isListening['tr1'] ? 'Detener' : 'Iniciar' }}
                    </button>
                  </div>
                  <span *ngIf="isValidField('tr1')" class="form-text text-danger">
                    {{ getFieldError('tr1') }}
                  </span>
                </div>
              </div>           
              
            <div class="mb-5 row">
                <label class="col-sm-3 col-form-label">Puntaje 1</label>
                <div class="col-sm-9">
                    <input type="number" 
                        formControlName="pt1" 
                        class="form-control">
                    <span *ngIf="isValidField('pt1')" 
                        class="form-text text-danger">
                        {{ getFieldError('pt1') }}
                    </span>
                </div>
            </div>

            <!-- Pregunta 2 -->
            <div class="mb-3 row">
                <label class="col-sm-3 col-form-label">Pregunta 2</label>
                <div class="col-sm-9">
                    <div class="input-group">
                        <input type="text"
                            formControlName="tp2" 
                            class="form-control">
                        <input type="hidden"
                            formControlName="ip2">
                    </div>
                    <span *ngIf="isValidField('tp2')" 
                        class="form-text text-danger">
                        {{ getFieldError('tp2') }}
                    </span>
                </div>
            </div>

            <div class="mb-3 row">
                <label class="col-sm-3 col-form-label">Respuesta 2</label>
                <div class="col-sm-9">
                  <div class="input-group">
                    <textarea formControlName="tr2" class="form-control"></textarea>
                    <button type="button" 
                    (click)="toggleListening('tr2')" 
                    [ngClass]="isListening['tr2'] ? 'btn-outline-danger' : 'btn-outline-primary'"
                    class="btn">
                      {{ isListening['tr2'] ? 'Detener' : 'Iniciar' }}
                    </button>
                  </div>
                  <span *ngIf="isValidField('tr2')" class="form-text text-danger">
                    {{ getFieldError('tr2') }}
                  </span>
                </div>
              </div>

            <div class="mb-5 row">
                <label class="col-sm-3 col-form-label">Puntaje 2</label>
                <div class="col-sm-9">
                    <input type="number" 
                        formControlName="pt2" 
                        class="form-control">
                    <span *ngIf="isValidField('pt2')" 
                        class="form-text text-danger">
                        {{ getFieldError('pt2') }}
                    </span>
                </div>
            </div>

            <!-- Pregunta 3 -->
            <div class="mb-3 row">
                <label class="col-sm-3 col-form-label">Pregunta 3</label>
                <div class="col-sm-9">
                    <div class="input-group">
                        <input type="text"
                            formControlName="tp3" 
                            class="form-control">
                        <input type="hidden"
                            formControlName="ip3">
                    </div>
                    <span *ngIf="isValidField('tp3')" 
                        class="form-text text-danger">
                        {{ getFieldError('tp3') }}
                    </span>
                </div>
            </div>

            <div class="mb-3 row">
                <label class="col-sm-3 col-form-label">Respuesta 3</label>
                <div class="col-sm-9">
                  <div class="input-group">
                    <textarea formControlName="tr3" class="form-control"></textarea>
                    <button type="button" 
                    (click)="toggleListening('tr3')" 
                    [ngClass]="isListening['tr3'] ? 'btn-outline-danger' : 'btn-outline-primary'"
                    class="btn">
                      {{ isListening['tr3'] ? 'Detener' : 'Iniciar' }}
                    </button>
                  </div>
                  <span *ngIf="isValidField('tr3')" class="form-text text-danger">
                    {{ getFieldError('tr3') }}
                  </span>
                </div>
              </div>

            <div class="mb-5 row">
                <label class="col-sm-3 col-form-label">Puntaje 3</label>
                <div class="col-sm-9">
                    <input type="number" 
                        formControlName="pt3" 
                        class="form-control">
                    <span *ngIf="isValidField('pt3')" 
                        class="form-text text-danger">
                        {{ getFieldError('pt3') }}
                    </span>
                </div>
            </div>

            <!-- Pregunta 4 -->
            <div class="mb-3 row">
                <label class="col-sm-3 col-form-label">Pregunta 4</label>
                <div class="col-sm-9">
                    <div class="input-group">
                        <input type="text"
                            formControlName="tp4" 
                            class="form-control">
                        <input type="hidden"
                            formControlName="ip4">
                    </div>
                    <span *ngIf="isValidField('tp4')" 
                        class="form-text text-danger">
                        {{ getFieldError('tp4') }}
                    </span>
                </div>
            </div>

            <div class="mb-3 row">
                <label class="col-sm-3 col-form-label">Respuesta 4</label>
                <div class="col-sm-9">
                  <div class="input-group">
                    <textarea formControlName="tr4" class="form-control"></textarea>
                    <button type="button" 
                    (click)="toggleListening('tr4')" 
                    [ngClass]="isListening['tr4'] ? 'btn-outline-danger' : 'btn-outline-primary'"
                    class="btn">
                      {{ isListening['tr4'] ? 'Detener' : 'Iniciar' }}
                    </button>
                  </div>
                  <span *ngIf="isValidField('tr4')" class="form-text text-danger">
                    {{ getFieldError('tr4') }}
                  </span>
                </div>
              </div>

            <div class="mb-5 row">
                <label class="col-sm-3 col-form-label">Puntaje 4</label>
                <div class="col-sm-9">
                    <input type="number" 
                        formControlName="pt4" 
                        class="form-control">
                    <span *ngIf="isValidField('pt4')" 
                        class="form-text text-danger">
                        {{ getFieldError('pt4') }}
                    </span>
                </div>
            </div>

            <!-- Pregunta 5 -->
            <div class="mb-3 row">
                <label class="col-sm-3 col-form-label">Pregunta 5</label>
                <div class="col-sm-9">
                    <div class="input-group">
                        <input type="text"
                            formControlName="tp5" 
                            class="form-control">
                        <input type="hidden"
                            formControlName="ip5">
                    </div>
                    <span *ngIf="isValidField('tp5')" 
                        class="form-text text-danger">
                        {{ getFieldError('tp5') }}
                    </span>
                </div>
            </div>

            <div class="mb-3 row">
                <label class="col-sm-3 col-form-label">Respuesta 5</label>
                <div class="col-sm-9">
                  <div class="input-group">
                    <textarea formControlName="tr5" class="form-control"></textarea>
                    <button type="button" 
                    (click)="toggleListening('tr5')" 
                    [ngClass]="isListening['tr5'] ? 'btn-outline-danger' : 'btn-outline-primary'"
                    class="btn">
                      {{ isListening['tr5'] ? 'Detener' : 'Iniciar' }}
                    </button>
                  </div>
                  <span *ngIf="isValidField('tr5')" class="form-text text-danger">
                    {{ getFieldError('tr5') }}
                  </span>
                </div>
              </div>

            <div class="mb-5 row">
                <label class="col-sm-3 col-form-label">Puntaje 5</label>
                <div class="col-sm-9">
                    <input type="number" 
                        formControlName="pt5" 
                        class="form-control">
                    <span *ngIf="isValidField('pt5')" 
                        class="form-text text-danger">
                        {{ getFieldError('pt5') }}
                    </span>
                </div>
            </div>

            <!-- Pregunta 6 -->
            <div class="mb-3 row">
                <label class="col-sm-3 col-form-label">Pregunta 6</label>
                <div class="col-sm-9">
                    <div class="input-group">
                        <input type="text"
                            formControlName="tp6" 
                            class="form-control">
                        <input type="hidden"
                            formControlName="ip6">
                    </div>
                    <span *ngIf="isValidField('tp6')" 
                        class="form-text text-danger">
                        {{ getFieldError('tp6') }}
                    </span>
                </div>
            </div>

            <div class="mb-3 row">
                <label class="col-sm-3 col-form-label">Respuesta 6</label>
                <div class="col-sm-9">
                  <div class="input-group">
                    <textarea formControlName="tr6" class="form-control"></textarea>
                    <button type="button" 
                    (click)="toggleListening('tr6')" 
                    [ngClass]="isListening['tr6'] ? 'btn-outline-danger' : 'btn-outline-primary'"
                    class="btn">
                      {{ isListening['tr6'] ? 'Detener' : 'Iniciar' }}
                    </button>
                  </div>
                  <span *ngIf="isValidField('tr6')" class="form-text text-danger">
                    {{ getFieldError('tr6') }}
                  </span>
                </div>
              </div>              

            <div class="mb-5 row">
                <label class="col-sm-3 col-form-label">Puntaje 6</label>
                <div class="col-sm-9">
                    <input type="number" 
                        formControlName="pt6" 
                        class="form-control">
                    <span *ngIf="isValidField('pt6')" 
                        class="form-text text-danger">
                        {{ getFieldError('pt6') }}
                    </span>
                </div>
            </div>

            <!-- Pregunta 7 -->
            <div class="mb-3 row">
                <label class="col-sm-3 col-form-label">Pregunta 7</label>
                <div class="col-sm-9">
                    <div class="input-group">
                        <input type="text"
                            formControlName="tp7" 
                            class="form-control">
                        <input type="hidden"
                            formControlName="ip7">
                    </div>
                    <span *ngIf="isValidField('tp7')" 
                        class="form-text text-danger">
                        {{ getFieldError('tp7') }}
                    </span>
                </div>
            </div>

            <div class="mb-3 row">
                <label class="col-sm-3 col-form-label">Respuesta 7</label>
                <div class="col-sm-9">
                  <div class="input-group">
                    <textarea formControlName="tr7" class="form-control"></textarea>
                    <button type="button" 
                    (click)="toggleListening('tr7')" 
                    [ngClass]="isListening['tr7'] ? 'btn-outline-danger' : 'btn-outline-primary'"
                    class="btn">
                      {{ isListening['tr7'] ? 'Detener' : 'Iniciar' }}
                    </button>
                  </div>
                  <span *ngIf="isValidField('tr7')" class="form-text text-danger">
                    {{ getFieldError('tr7') }}
                  </span>
                </div>
              </div>              

            <div class="mb-5 row">
                <label class="col-sm-3 col-form-label">Puntaje 7</label>
                <div class="col-sm-9">
                    <input type="number" 
                        formControlName="pt7" 
                        class="form-control">
                    <span *ngIf="isValidField('pt7')" 
                        class="form-text text-danger">
                        {{ getFieldError('pt7') }}
                    </span>
                </div>
            </div>

            <!-- Pregunta 8 -->
            <div class="mb-3 row">
                <label class="col-sm-3 col-form-label">Pregunta 8</label>
                <div class="col-sm-9">
                    <div class="input-group">
                        <input type="text"
                            formControlName="tp8" 
                            class="form-control">
                        <input type="hidden"
                            formControlName="ip8">
                    </div>
                    <span *ngIf="isValidField('tp8')" 
                        class="form-text text-danger">
                        {{ getFieldError('tp8') }}
                    </span>
                </div>
            </div>

            <div class="mb-3 row">
                <label class="col-sm-3 col-form-label">Respuesta 8</label>
                <div class="col-sm-9">
                  <div class="input-group">
                    <textarea formControlName="tr8" class="form-control"></textarea>
                    <button type="button" 
                    (click)="toggleListening('tr8')" 
                    [ngClass]="isListening['tr8'] ? 'btn-outline-danger' : 'btn-outline-primary'"
                    class="btn">
                      {{ isListening['tr8'] ? 'Detener' : 'Iniciar' }}
                    </button>
                  </div>
                  <span *ngIf="isValidField('tr8')" class="form-text text-danger">
                    {{ getFieldError('tr8') }}
                  </span>
                </div>
              </div>              

            <div class="mb-5 row">
                <label class="col-sm-3 col-form-label">Puntaje 8</label>
                <div class="col-sm-9">
                    <input type="number" 
                        formControlName="pt8" 
                        class="form-control">
                    <span *ngIf="isValidField('pt8')" 
                        class="form-text text-danger">
                        {{ getFieldError('pt8') }}
                    </span>
                </div>
            </div>

            <!-- Pregunta 9 -->
            <div class="mb-3 row">
                <label class="col-sm-3 col-form-label">Pregunta 9</label>
                <div class="col-sm-9">
                    <div class="input-group">
                        <input type="text"
                            formControlName="tp9" 
                            class="form-control">
                        <input type="hidden"
                            formControlName="ip9">
                    </div>
                    <span *ngIf="isValidField('tp9')" 
                        class="form-text text-danger">
                        {{ getFieldError('tp9') }}
                    </span>
                </div>
            </div>

            <div class="mb-3 row">
                <label class="col-sm-3 col-form-label">Respuesta 9</label>
                <div class="col-sm-9">
                  <div class="input-group">
                    <textarea formControlName="tr9" class="form-control"></textarea>
                    <button type="button" 
                    (click)="toggleListening('tr9')" 
                    [ngClass]="isListening['tr9'] ? 'btn-outline-danger' : 'btn-outline-primary'"
                    class="btn">
                      {{ isListening['tr9'] ? 'Detener' : 'Iniciar' }}
                    </button>
                  </div>
                  <span *ngIf="isValidField('tr9')" class="form-text text-danger">
                    {{ getFieldError('tr9') }}
                  </span>
                </div>
              </div>              

            <div class="mb-5 row">
                <label class="col-sm-3 col-form-label">Puntaje 9</label>
                <div class="col-sm-9">
                    <input type="number" 
                        formControlName="pt9" 
                        class="form-control">
                    <span *ngIf="isValidField('pt9')" 
                        class="form-text text-danger">
                        {{ getFieldError('pt9') }}
                    </span>
                </div>
            </div>

            <!-- Pregunta 10 -->
            <div class="mb-3 row">
                <label class="col-sm-3 col-form-label">Pregunta 10</label>
                <div class="col-sm-9">
                    <div class="input-group">
                        <input type="text"
                            formControlName="tp10" 
                            class="form-control">
                        <input type="hidden"
                            formControlName="ip10">
                    </div>
                    <span *ngIf="isValidField('tp10')" 
                        class="form-text text-danger">
                        {{ getFieldError('tp10') }}
                    </span>
                </div>
            </div>

            <div class="mb-3 row">
                <label class="col-sm-3 col-form-label">Respuesta 10</label>
                <div class="col-sm-9">
                  <div class="input-group">
                    <textarea formControlName="tr10" class="form-control"></textarea>
                    <button type="button" 
                    (click)="toggleListening('tr10')" 
                    [ngClass]="isListening['tr10'] ? 'btn-outline-danger' : 'btn-outline-primary'"
                    class="btn">
                      {{ isListening['tr10'] ? 'Detener' : 'Iniciar' }}
                    </button>
                  </div>
                  <span *ngIf="isValidField('tr10')" class="form-text text-danger">
                    {{ getFieldError('tr10') }}
                  </span>
                </div>
              </div>              

            <div class="mb-5 row">
                <label class="col-sm-3 col-form-label">Puntaje 10</label>
                <div class="col-sm-9">
                    <input type="number" 
                        formControlName="pt10" 
                        class="form-control">
                    <span *ngIf="isValidField('pt10')" 
                        class="form-text text-danger">
                        {{ getFieldError('pt10') }}
                    </span>
                </div>
            </div>

            <!-- Pregunta 11 -->
            <div class="mb-3 row">
                <label class="col-sm-3 col-form-label">Pregunta 11</label>
                <div class="col-sm-9">
                    <div class="input-group">
                        <input type="text"
                            formControlName="tp11" 
                            class="form-control">
                        <input type="hidden"
                            formControlName="ip11">
                    </div>
                    <span *ngIf="isValidField('tp11')" 
                        class="form-text text-danger">
                        {{ getFieldError('tp11') }}
                    </span>
                </div>
            </div>

            <div class="mb-3 row">
                <label class="col-sm-3 col-form-label">Respuesta 11</label>
                <div class="col-sm-9">
                  <div class="input-group">
                    <textarea formControlName="tr11" class="form-control"></textarea>
                    <button type="button" 
                    (click)="toggleListening('tr11')" 
                    [ngClass]="isListening['tr11'] ? 'btn-outline-danger' : 'btn-outline-primary'"
                    class="btn">
                      {{ isListening['tr11'] ? 'Detener' : 'Iniciar' }}
                    </button>
                  </div>
                  <span *ngIf="isValidField('tr11')" class="form-text text-danger">
                    {{ getFieldError('tr11') }}
                  </span>
                </div>
              </div>              

            <div class="mb-5 row">
                <label class="col-sm-3 col-form-label">Puntaje 11</label>
                <div class="col-sm-9">
                    <input type="number" 
                        formControlName="pt11" 
                        class="form-control">
                    <span *ngIf="isValidField('pt11')" 
                        class="form-text text-danger">
                        {{ getFieldError('pt11') }}
                    </span>
                </div>
            </div>

            <!-- Pregunta 12 -->
            <div class="mb-3 row">
                <label class="col-sm-3 col-form-label">Pregunta 12</label>
                <div class="col-sm-9">
                    <div class="input-group">
                        <input type="text"
                            formControlName="tp12" 
                            class="form-control">
                        <input type="hidden"
                            formControlName="ip12">
                    </div>
                    <span *ngIf="isValidField('tp12')" 
                        class="form-text text-danger">
                        {{ getFieldError('tp12') }}
                    </span>
                </div>
            </div>

            <div class="mb-3 row">
                <label class="col-sm-3 col-form-label">Respuesta 12</label>
                <div class="col-sm-9">
                  <div class="input-group">
                    <textarea formControlName="tr12" class="form-control"></textarea>
                    <button type="button" 
                    (click)="toggleListening('tr12')" 
                    [ngClass]="isListening['tr12'] ? 'btn-outline-danger' : 'btn-outline-primary'"
                    class="btn">
                      {{ isListening['tr12'] ? 'Detener' : 'Iniciar' }}
                    </button>
                  </div>
                  <span *ngIf="isValidField('tr12')" class="form-text text-danger">
                    {{ getFieldError('tr12') }}
                  </span>
                </div>
              </div>              

            <div class="mb-5 row">
                <label class="col-sm-3 col-form-label">Puntaje 12</label>
                <div class="col-sm-9">
                    <input type="number" 
                        formControlName="pt12" 
                        class="form-control">
                    <span *ngIf="isValidField('pt12')" 
                        class="form-text text-danger">
                        {{ getFieldError('pt12') }}
                    </span>
                </div>
            </div>

            <!-- Pregunta 13 -->
            <div class="mb-3 row">
                <label class="col-sm-3 col-form-label">Pregunta 13</label>
                <div class="col-sm-9">
                    <div class="input-group">
                        <input type="text"
                            formControlName="tp13" 
                            class="form-control">
                        <input type="hidden"
                            formControlName="ip13">
                    </div>
                    <span *ngIf="isValidField('tp13')" 
                        class="form-text text-danger">
                        {{ getFieldError('tp13') }}
                    </span>
                </div>
            </div>

            <div class="mb-3 row">
                <label class="col-sm-3 col-form-label">Respuesta 13</label>
                <div class="col-sm-9">
                  <div class="input-group">
                    <textarea formControlName="tr13" class="form-control"></textarea>
                    <button type="button" 
                    (click)="toggleListening('tr13')" 
                    [ngClass]="isListening['tr13'] ? 'btn-outline-danger' : 'btn-outline-primary'"
                    class="btn">
                      {{ isListening['tr13'] ? 'Detener' : 'Iniciar' }}
                    </button>
                  </div>
                  <span *ngIf="isValidField('tr13')" class="form-text text-danger">
                    {{ getFieldError('tr13') }}
                  </span>
                </div>
              </div>              

            <div class="mb-5 row">
                <label class="col-sm-3 col-form-label">Puntaje 13</label>
                <div class="col-sm-9">
                    <input type="number" 
                        formControlName="pt13" 
                        class="form-control">
                    <span *ngIf="isValidField('pt13')" 
                        class="form-text text-danger">
                        {{ getFieldError('pt13') }}
                    </span>
                </div>
            </div>

            <!-- Pregunta 14 -->
            <div class="mb-3 row">
                <label class="col-sm-3 col-form-label">Pregunta 14</label>
                <div class="col-sm-9">
                    <div class="input-group">
                        <input type="text"
                            formControlName="tp14" 
                            class="form-control">
                        <input type="hidden"
                            formControlName="ip14">
                    </div>
                    <span *ngIf="isValidField('tp14')" 
                        class="form-text text-danger">
                        {{ getFieldError('tp14') }}
                    </span>
                </div>
            </div>

            <div class="mb-3 row">
                <label class="col-sm-3 col-form-label">Respuesta 14</label>
                <div class="col-sm-9">
                  <div class="input-group">
                    <textarea formControlName="tr14" class="form-control"></textarea>
                    <button type="button" 
                    (click)="toggleListening('tr14')" 
                    [ngClass]="isListening['tr14'] ? 'btn-outline-danger' : 'btn-outline-primary'"
                    class="btn">
                      {{ isListening['tr14'] ? 'Detener' : 'Iniciar' }}
                    </button>
                  </div>
                  <span *ngIf="isValidField('tr14')" class="form-text text-danger">
                    {{ getFieldError('tr14') }}
                  </span>
                </div>
              </div>              

            <div class="mb-5 row">
                <label class="col-sm-3 col-form-label">Puntaje 14</label>
                <div class="col-sm-9">
                    <input type="number" 
                        formControlName="pt14" 
                        class="form-control">
                    <span *ngIf="isValidField('pt14')" 
                        class="form-text text-danger">
                        {{ getFieldError('pt14') }}
                    </span>
                </div>
            </div>

            <!-- Pregunta 15 -->
            <div class="mb-3 row">
                <label class="col-sm-3 col-form-label">Pregunta 15</label>
                <div class="col-sm-9">
                    <div class="input-group">
                        <input type="text"
                            formControlName="tp15" 
                            class="form-control">
                        <input type="hidden"
                            formControlName="ip15">
                    </div>
                    <span *ngIf="isValidField('tp15')" 
                        class="form-text text-danger">
                        {{ getFieldError('tp15') }}
                    </span>
                </div>
            </div>

            <div class="mb-3 row">
                <label class="col-sm-3 col-form-label">Respuesta 15</label>
                <div class="col-sm-9">
                  <div class="input-group">
                    <textarea formControlName="tr15" class="form-control"></textarea>
                    <button type="button" 
                    (click)="toggleListening('tr15')" 
                    [ngClass]="isListening['tr15'] ? 'btn-outline-danger' : 'btn-outline-primary'"
                    class="btn">
                      {{ isListening['tr15'] ? 'Detener' : 'Iniciar' }}
                    </button>
                  </div>
                  <span *ngIf="isValidField('tr15')" class="form-text text-danger">
                    {{ getFieldError('tr15') }}
                  </span>
                </div>
              </div>              

            <div class="mb-5 row">
                <label class="col-sm-3 col-form-label">Puntaje 15</label>
                <div class="col-sm-9">
                    <input type="number" 
                        formControlName="pt15" 
                        class="form-control">
                    <span *ngIf="isValidField('pt15')" 
                        class="form-text text-danger">
                        {{ getFieldError('pt15') }}
                    </span>
                </div>
            </div>


            <div class="mb-3 row">
                <div class="col">
                    <button
                        type="button"
                        class="btn btn-warning"
                        [routerLink]="['/postulantes/detalle/', idPostulante]">
                        Volver
                    </button>
                    <button type="submit"
                            class="btn btn-primary float-end">
                        Guardar
                        <i class="fas fa-save"></i>
                    </button>
                </div>
            </div>

        </form>

    </div>
</div>
</div>
