<h2>Procesos - {{ accion | titlecase }} entrevista</h2>
<hr>

<div class="row">
    <div class="col">

        <form [formGroup]="formEntrevista" (ngSubmit)="onSave()" autocomplete="off">

            <!-- Campo de ID Proceso -->
            <div class="mb-3 row">
                <label class="col-sm-3 col-form-label">ID Proceso</label>
                <div class="col-sm-9">
                    <input type="text"
                           class="form-control"
                           formControlName="idProceso"
                           placeholder=""
                           readonly>
                    <span *ngIf="isValidField('idProceso')"
                        class="form-text text-danger">
                        {{ getFieldError('idProceso') }}
                    </span>
                </div>
            </div>

            <!-- Campo de fecha -->
            <div class="mb-3 row">
                <label class="col-sm-3 col-form-label">Fecha entrevista</label>
                <div class="col-sm-9">

                    <input type="datetime-local"
                           class="form-control"
                           formControlName="fecha_entrevista"
                           placeholder="">

                    <span *ngIf="isValidField('fecha_entrevista')"
                        class="form-text text-danger">
                        {{ getFieldError('fecha_entrevista') }}
                    </span>
                </div>
            </div>

            <!-- Campo de perfil buscado -->
            <div class="mb-3 row">
                <label class="col-sm-3 col-form-label">Perfil buscado</label>
                <div class="col-sm-9">
                    <!-- <input type="text"
                           class="form-control"
                           formControlName="perfilBuscado"
                           placeholder="">-->
                    <textarea name="pefilBuscado"
                        id="perfilBuscado"
                        class="form-control"
                        formControlName="perfilBuscado"></textarea>
                    <span *ngIf="isValidField('perfilBuscado')"
                        class="form-text text-danger">
                        {{ getFieldError('perfilBuscado') }}
                    </span>
                </div>
            </div>

            <!-- Campo de comentarios de la prueba -->
            <div class="mb-3 row">
                <label class="col-sm-3 col-form-label">Comentarios prueba</label>
                <div class="col-sm-9">
                    <textarea name="comentariosPrueba"
                        id="comentariosPrueba"
                        class="form-control"
                        formControlName="comentariosPrueba"></textarea>
                    <span *ngIf="isValidField('comentariosPrueba')"
                           class="form-text text-danger">
                           {{ getFieldError('comentariosPrueba') }}
                    </span>
                </div>
            </div>

            <!-- Campo de comentarios generales -->
            <div class="mb-3 row">
                <label class="col-sm-3 col-form-label">Comentarios generales</label>
                <div class="col-sm-9">
                    <textarea name="comentariosGenerales"
                        id="comentariosGenerales"
                        class="form-control"
                        formControlName="comentariosGenerales"></textarea>
                    <span *ngIf="isValidField('comentariosGenerales')"
                        class="form-text text-danger">
                        {{ getFieldError('comentariosGenerales') }}
                    </span>
                </div>
            </div>

            <!-- Campo de recomendaciones -->
            <div class="mb-3 row">
                <label class="col-sm-3 col-form-label">Recomendaciones</label>
                <div class="col-sm-9">
                    <textarea name="recomendaciones"
                        id="recomendaciones"
                        class="form-control"
                        formControlName="recomendaciones"></textarea>
                    <span *ngIf="isValidField('recomendaciones')"
                        class="form-text text-danger">
                        {{ getFieldError('recomendaciones') }}
                    </span>
                </div>
            </div>

            <!-- Campo de descripción personal -->
            <div class="mb-3 row">
                <label class="col-sm-3 col-form-label">Descripción personal</label>
                <div class="col-sm-9">
                    <textarea name="descripcionPersonal"
                        id="descripcionPersonal"
                        class="form-control"
                        formControlName="descripcionPersonal"></textarea>
                    <span *ngIf="isValidField('descripcionPersonal')"
                        class="form-text text-danger">
                        {{ getFieldError('descripcionPersonal') }}
                    </span>
                </div>
            </div>

            <!-- Campo de preguntas del candidato -->
            <div class="mb-3 row">
                <label class="col-sm-3 col-form-label">Preguntas del candidato</label>
                <div class="col-sm-9">
                    <textarea name="preguntasCandidato"
                        id="preguntasCandidato"
                        class="form-control"
                        formControlName="preguntasCandidato"></textarea>
                    <span *ngIf="isValidField('preguntasCandidato')"
                        class="form-text text-danger">
                        {{ getFieldError('preguntasCandidato') }}
                    </span>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <button
                        type="button"
                        class="btn btn-warning"
                        [routerLink]="['/postulantes/detalle/', idPostulante]">
                        Volver
                    </button>
                    <button type="submit"
                            class="btn btn-primary float-end">
                        Guardar
                        <i class="fas fa-save"></i>
                    </button>
                </div>
            </div>



        </form>

    </div>
</div>
