<div class="logo-wrapper">
  <img src="../../../../assets/images/svg/logo-3it.svg" alt="" class="logo">
  <h2 class="mb-4 text-center logo-title">Reclutamiento</h2>
</div>


<ul class="list-group">
<!--
  <li routerLink=""
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: true }"
    class="list-group-item">
    Home Page
  </li>

  <li routerLink="about"
    routerLinkActive="active"
    class="list-group-item">
    About Page
  </li>

  <li routerLink="contact"
    routerLinkActive="active"
    class="list-group-item">
    Contact Page
  </li> -->

  <li [routerLink]="['/inicio']"
    routerLinkActive="active"
    class="list-group-item">
    Inicio
  </li>

  <li [routerLink]="['/postulantes/listado']"
    routerLinkActive="active"
    class="list-group-item">
    Postulantes
  </li>

  <li [routerLink]="['/procesos/listado']"
    routerLinkActive="active"
    class="list-group-item">
    Procesos
  </li>

  <li [routerLink]="['/entrevistas/listado']"
    routerLinkActive="active"
    class="list-group-item">
    Entrevistas
  </li>
  <!--
  <li [routerLink]="['/postulantes/crear']"
    routerLinkActive="active"
    class="list-group-item">
    Crear postulante
  </li>
  -->
  <li [routerLink]="['/acerca-de']"
    routerLinkActive="active"
    class="list-group-item">
    Acerca de
  </li>

  <li [routerLink]="['/contacto']"
    routerLinkActive="active"
    class="list-group-item">
    Contacto
  </li>

  <li (click)="onLogout()"
    routerLinkActive="active"
    class="list-group-item">
    Cerrar sesión
  </li>

</ul>

