<div class="navbar navbar-dark bg-dark">
  <div class="container">
    <!-- Logo y título -->
    <div class="logo-reclutamiento">
      <div class="logo-wrapper mt-3">
        <img src="../../../../assets/images/svg/logo-3it.svg" alt="" class="logo">
      </div>
      <h2 class="mt-3 logo-title">Reclutamiento</h2>
    </div>
    <!-- Menú -->
    <ul class="nav justify-content-center">
      <li class="nav-item" [routerLink]="['/inicio']" routerLinkActive="active">
        Inicio
      </li>
      <li class="nav-item" [routerLink]="['/postulantes/listado']" routerLinkActive="active">
        Postulantes
      </li>
      <li class="nav-item" [routerLink]="['/procesos/listado']" routerLinkActive="active">
        Procesos
      </li>
      <li class="nav-item" [routerLink]="['/entrevistas/listado']" routerLinkActive="active">
        Entrevistas
      </li>
      <li class="nav-item" [routerLink]="['/roles']" routerLinkActive="active">
        Roles
      </li>
      <li class="nav-item" [routerLink]="['/preguntas']" routerLinkActive="active">
        Preguntas
      </li>
      <li class="nav-item" [routerLink]="['/usuarios']" routerLinkActive="active">
        Usuarios
      </li>
      <li class="nav-item" [routerLink]="['/cliente']" routerLinkActive="active">
        Clientes
      </li>
      <li class="nav-item" (click)="onLogout()">
        <i class="fas fa-sign-out-alt"></i> Cerrar sesión
      </li>
    </ul>
  </div>
</div>
