:root {
  --black01: #000000;
  --black02: #414141;
  --black03: #6f6f6f;
  --white01: #FFFFFF;
  --white02: #F6F6F6;
  --white03: #e3e1e1;
  --yellow01: #ECDA29;
  --yellow02: #F2E98E;
  --yellow03: #F9F2B4;
  --yelllow04: #9D911B;
  --blue01: #F2E98E;
  --blue02: #8FD7DF;
  --purple01: #3C3751;
  --purple02: #5150C0;
  --purple03: #6765f2;
  --purple04: #9694f3;
  --shadow01: 8px 8px 15px var(--white03);
  --shadow02: 5px 5px var(--purple04);
  --transition01: 400ms ease;
}

body {
  background-color: var(--white02);
  transition: var(--transition01);
}

/* Assetts */

.logo {
  width: 120px;
  height: auto;
}

/* Botones */

.btn {
  background-color: var(--purple02);
  border: none;
  border-radius: 0;
}

.btn:hover {
  background-color: var(--purple03);
}

/* Links */

a {
  color: var(--purple02);
}

a:hover {
  color: var(--purple03);
}

nav .ngx-pagination .current {
  background: var(--purple03);
}

/* Login */


.login-box {
  box-shadow: var(--shadow01);
  background-color: var(--white01);
}

.form-label {
  color: var(--purple02);
  font-weight: 700;
  font-size: 0.8rem;
  text-transform: uppercase;
}

.form-control {
  border-radius: 0;
  border: 0;
  border-bottom: 1px solid var(--purple02);
  color: var(--black03);
}

/* Logo Wrapper */

.logo-wrapper {
  width: 100%;

}

.logo {
  width: 80px;
  display: block;
  margin: auto;
}

.logo-title {
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 700;
  letter-spacing: 2px;
}

/* Menu Lateral */

.list-group {
  letter-spacing: 1px;
  box-sizing: border-box;
  border-radius: 0;
  font-size: 0.8rem;
}

.list-group-item {
  border: 0;
  padding: 1rem;
  transition: var(--transition01);
}

.list-group-item:not(:last-child){
  border-bottom: 1px solid var(--white02);
}

.list-group-item:hover {
  background-color: var(--white03);
}

.list-group-item.active {
  background-color: var(--purple02);
  border-bottom: 1px solid var(--purple02);
}

