:root {
  --black01: #000000;
  --black02: #414141;
  --black03: #6f6f6f;
  --white01: #FFFFFF;
  --white02: #fbfbfb;
  --white03: #e3e1e1;
  --yellow01: #ECDA29;
  --yellow02: #F2E98E;
  --yellow03: #F9F2B4;
  --yelllow04: #9D911B;
  --blue01: #3BC0CF;
  --blue02: #8FD7DF;
  --purple01: #3C3751;
  --purple02: #5150C0;
  --purple03: #6765f2;
  --purple04: #9694f3;
  --shadow01: 8px 8px 15px var(--white03);
  --shadow02: 5px 5px var(--purple04);
  --transition01: 400ms ease;
}

body {
  background-color: var(--white02);
  transition: var(--transition01);
  color: var(--black02);
}

/* Assetts */

.logo {
  width: 120px;
  height: auto;
}

/* Botones */

.btn {
  background-color: var(--purple02);
  border: none;
  border-radius: 0;
  padding: 1rem;
  color: var(--white01);
}

.btn-success {
  background-color: var(--purple02);
  padding: 1rem;
}

.btn:hover {
  background-color: var(--purple03);
}

.btn i {
  margin-left: 10px;
}

/* Links */

a {
  color: var(--purple02);
  cursor: pointer;
}

a:hover {
  color: var(--purple03);
}

nav .ngx-pagination .current {
  background: var(--purple03);
}

/* Textos */

.list-group-item,
table th,
table td,
p,
h2,
h3,
h4,
label,
.col-form-label,
span {
  font-size: 0.9rem;
  color: var(--black02);
}

.form-control {
  background-color: var(--white02);
  font-size: 0.9rem;
  padding: 1rem;
}

.outlet-wrapper h2 {
  font-size: 1.8rem;
  font-weight: 700;
  color: var(--purple02);
  margin-bottom: 2rem;
}
.outlet-wrapper h2::after {
  content: " ";
  display: block;
  width: 100%;
  padding-top: 1rem;
  border-bottom: 1px solid var(--white03);
}


/* Login */

.login-box {
  box-shadow: var(--shadow01);
  background-color: var(--white01);
}

.form-label {
  color: var(--purple02);
  font-weight: 700;
  font-size: 0.8rem;
  text-transform: uppercase;
}

.form-control {
  border-radius: 0;
  border: 0;
  border-bottom: 1px solid var(--purple02);
  color: var(--black03);
}

/* Logo Wrapper */

.logo-wrapper {
  width: 100%;

}

.logo {
  width: 80px;
  display: block;
  margin: auto;
}

.logo-title {
  color: var(--black01);
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 700;
  letter-spacing: 2px;
}

/* Menu Lateral */

.list-group {
  letter-spacing: 1px;
  box-sizing: border-box;
  border-radius: 0;
  box-shadow: var(--shadow01);
  cursor: pointer;
}

.list-group-item {
  font-size: 0.8rem;
  border: 0;
  padding: 1rem;
  transition: var(--transition01);
}

.list-group-item:not(:last-child){
  border-bottom: 1px solid var(--white02);
}

.list-group-item:hover {
  background-color: var(--white03);
}

.list-group-item.active {
  background-color: var(--purple02);
  border-bottom: 1px solid var(--purple02);
}

/* Contenido */

.outlet-wrapper {
  border-radius: 0;
  box-shadow: var(--shadow01)
}

/* Tablas */

.outlet-wrapper table tr:not(:last-child) {
  border: 0;
  border-bottom: 1px solid var(--white03);
}

.outlet-wrapper table tr:last-child {
  border: 1px solid var(--white01);
}

.outlet-wrapper table tbody tr:hover {
  background-color: var(--white02);
}

.outlet-wrapper table tr td {
  font-size: 0.9rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
